@property --load {
	syntax: '<integer>';
	initial-value: 0;
	inherits: false;
}

.load {
	transition: --load 1s ease-out;
	counter-reset: load var(--load);
}

.load::after {
	content: counter(load) '%';
}
